<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsCc1tmT3oS-pxtZHEKZL1jRXpcCLhSU8</string>
	<key>GCM_SENDER_ID</key>
	<string>984314132583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectPayrollNextbpo</string>
	<key>PROJECT_ID</key>
	<string>nbsstorage-72da8</string>
	<key>STORAGE_BUCKET</key>
	<string>nbsstorage-72da8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984314132583:ios:690019ba480dd5e230fcc2</string>
</dict>
</plist>